$slack-text: #323648;

.o-hero {
  height: 100vh;
  padding: 0;
  .o-hero__content {
    .o-hero__header__headline,
    .o-hero__header__headline--larger {
      max-width: 100%;
    }
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.o-section--feature__copy,
canvas {
  margin: 2em 0 2em 0;
}

.charts {
  text-align: center;
  .chart {
    margin: 1em 0 1em 0;
  }
}

.github-repo {
  border: none;
  color: white;
  .github-logo {
    fill: $slack-text;
    color: white;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
  }
}
