.o-hero {
  height: 100vh;
  padding: 0;
  .o-hero__content {
    .o-hero__header__headline,
    .o-hero__header__headline--larger {
      max-width: 100%;
    }
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.o-section--feature__copy,
canvas {
  margin: 2em 0 2em 0;
}

.charts {
  text-align: center;
  .chart {
    margin: 1em 0 1em 0;
  }
}
